<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid ">
      
      <a class="navbar-brand" href="#"><%= image_tag 'catapp.png', :height => '60' %></a>

      <div class="pull-right">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <%= link_to 'ログイン', new_user_session_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to '新規登録', new_user_registration_path, class: 'nav-link' %>
            </li>
          </ul>
          <form class="d-flex", style="padding: 15px">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </div>
  </nav>
</header>

<div class="mainContainer">
  <div class="topcontents">
    <div class="topbox">
      <h1>全ての猫に幸せを。</h1>
      <h4>殺処分ゼロ、保護猫支援サイト</h4><br>
      <p>全国の保護猫情報を掲載、<br>寄付の支援を行っています。<br>掲載をご希望の場合は <a href="">こちら</a> からご登録ください。</p>
    </div>
  </div>
</div>

<footer>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="footer">
        <p>©︎kumakuma</p>
    </div>
  </nav>
</footer>