<div class="content">
  <div class="contentbox show_box">
    <h2>保護ねこ情報変更</h2>
    <%= render 'form', cat: @cat %>
    <div class="btnitems">
      <%= link_to '詳細', @cat %>
    </div>
  </div>
</div>